body{
    font-family: Arial;
    background: linear-gradient(to right, #74a2eb, #6593de);
}
h1{
    text-align: center;
}
form{
    width: 400px;
    margin: 30px auto;
    padding: 25px;
    background: white;
    border-radius: 10px;
}
h3{
    border-bottom: 2px solid grey;
    padding-bottom: 5px;
}
input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}
input[type="radio"],
input[type="chechbox"]{
    width: auto;

}
table{
    width:100%;
    border-collapse: collapse;
}
th,td{
    padding: 8px;
    text-align: center;

}
input[type="submit"]{
    background: rgb(114, 128, 221);
    color: white;
    border: none;
    cursor: pointer;
}
input[type="reset"]{
    background: rgb(202, 47, 47);
    color: white;
    border: none;
    cursor: pointer;
}